.lesson-card-container {
  display: flex;
  align-items: flex-start;
  padding: 0.5rem 1rem;
  background-color: #ededed;
  width: 350px;
}
.lesson-card-icon {
  font-size: 40px;
}
.lesson-card-texts {
  display: flex;
  flex-direction: column;
  margin-right: 0.75rem;
}
.lesson-card-name {
  font-weight: bold;
  font-size: 18px;
}
.lesson-card-date {
  font-size: 16px;
}
.lesson-card-status {
  font-size: 14px;
  margin-top: 0.5rem;
}
